/* Sticky nav stuff */
body {
  min-height: 1100px;
  padding-top: 70px;
}
/* Logo/Pic Resizing */
.pic-resize {width: 30%; height: 30%;}
#specialpic {padding-bottom: 10px;}

/* Fancy typography stuff */
.firstcharacter {
	float: left;
	color: #d6503e;
	font-size: 64px;
	line-height: 60px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.sectionhead{
	margin: 20px 0;
}

/* Footer Navigation */

#social {text-align: center;}
#social ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	} 
#social ul li {display: inline;}
#social ul li a {text-decoration: none; padding: .5rem;}
#social img {height: 50px; width: 50px;}